@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

*::before, *::after{
  box-sizing: border-box;
}

body{
    border-bottom: 2px solid #000;
    font-family: "Source Sans 3", sans-serif;
   /*  background-image: linear-gradient(to right top, #161a42, #1a2848, #25354c, #36424e, #494d50); */
   /*  background: linear-gradient(90deg, rgba(43,60,66,1) 0%, rgba(21,48,87,1) 27%, rgba(67,80,108,1) 48%, rgba(38,69,101,1) 90%); */
   /* background-image: linear-gradient(to right top, #373305, #5c500d, #866e15, #b48c1f, #e8aa2b); */
   background: linear-gradient(90deg, rgb(26, 36, 40) 0%, rgb(15, 35, 62) 27%, rgb(40, 48, 65) 48%, rgb(14, 26, 39) 90%);
}
/* Estilos para el menu*/

header{
   /*  background-color: #222; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background: linear-gradient(90deg, rgb(37, 51, 57) 0%, rgb(25, 56, 99) 27%, rgb(26, 30, 41) 48%, rgb(33, 58, 87) 90%);
    box-shadow: rgba(63, 187, 240, 0.17) 0px -23px 25px 0px inset, rgba(57, 130, 239, 0.15) 0px -36px 30px 0px inset, rgba(231, 228, 228, 0.1) 0px -79px 40px 0px inset, rgba(115, 172, 238, 0.06) 0px 2px 1px, rgba(240, 238, 238, 0.09) 0px 4px 2px, rgba(126, 179, 249, 0.09) 0px 8px 4px, rgba(87, 170, 226, 0.09) 0px 16px 8px, rgba(153, 195, 219, 0.09) 0px 32px 16px;
}
.logo-header{
    width: 80px;
    height:80px;
    margin-top: .5rem;
}
.logo-header img{
    width: 100%;
    height: 100%;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    margin-right: 3em;
}
.nav-menu li{
    margin-right: 1rem; 
}
.nav-menu a{
    color: #fff;
}
.nav-menu li:last-child{
    background:#4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.menu-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
}
.menu-icon, #check{
    display: none;
}

.title-desktop{
    display: block;
    -webkit-text-stroke: 1.5px black;
}

.title-movil{
    display: none;
}

 /* Estilos para el Parallax */ 
.content-primeraImagen{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45vw;
    position: relative;
    margin-top: 3rem;
    background: linear-gradient(to right, #e89a01 12%, #ffb21a, #e89a01 5%);
}
.text-primeraImagen{
    width: 28%;
    height: 50%;
    position: absolute;
    left: 5%;
    top:40%;
}
.text-primeraImagen h1{
    font-family: "Source Sans 3", sans-serif;
    font-weight: bolder;
    font-size: 1.7rem;
    color: rgb(26, 36, 40);
}
.text-primeraImagen p{
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    color: rgb(25, 56, 99);
}
.banner-container{
    width: 60%;
    height: 80%;
    position: absolute;
    overflow: hidden;
    right: 5%;
    top:10%;
}
.img-carrusel{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    border-radius: 1rem;
}
.active{
    opacity: 1;
    animation: desplazamiento 1 linear 0.5s;
}
@keyframes desplazamiento{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.disable{
    display: none;
}


.description-banner-desktop{
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff7c;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-align: center;
    padding: 5px;
    border-radius: 15px; 
}

.banner-movil{
    display: none;
}

/* Estilos para la seccion de Gana con Nosotros*/
.title-winner-whitme{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    height: 90px;
    margin-bottom: 1.5em;
    background: url("./assets/images/lluvia.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.subtitle-whitme{
    font-size: 26px;
    color: #e5e3e3;
    text-align: center;
    letter-spacing: 1px;
}

/* Seccion para sobre nosotros */

/* Seccion para el Footer */
/* footer {
    position: fixed;
    bottom: 0;
}
 */
.footer-distributed {
   /*  background-color: #2d2a30; */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    background: linear-gradient(90deg, rgba(34,47,52,1) 0%, rgba(15,34,61,1) 27%, rgba(40,47,64,1) 48%, rgba(28,49,73,1) 90%);
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
   /*  font: normal 36px 'Cookie', cursive; */
    margin: 0;
    font-size: 25px;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}


/* Para movil nav*/
@media (max-width:768px){
    .img-carrusel{
        width: 95%;
        right: 2.5%;
        top:4.5%;
        height: 95%;
    }
    
    .img-logo-movil {
        background-image: url(/src/assets/images/mago.png);
        height: 180px;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .text-mision-vision{
        width: 90%;
        letter-spacing: 1px;
        line-height: 28px;
        text-align: left;
       
    }
    .winner-with-me{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        align-items: center;
    }

    .title-winner-whitme{
        margin-bottom: 0.2em;
        height: auto;
        display: block;
        text-align: center;
        font-size: 34px;
    }

    .card{
       margin: 3em auto;
       width: 100%;
    }

    .banner-movil{
        display: none;
    }

    .banner-movil img {
        width: 100%;
        height: 430px;
    }
    .title-desktop{
        display: none;
    }
    .title-movil{
      display: block;
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
     
    }
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        top: 20px;
        right: 20px;
        cursor: pointer;
        margin-right: 50px;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:0;
       /*  background-color: #030433; */
        background: linear-gradient(90deg, rgba(33, 44, 49, 0.964) 0%, rgba(21, 45, 76, 0.959) 27%, rgba(40, 47, 64, 0.953) 48%, rgb(24, 43, 62) 90%);
        width: 100%;
        height: 100vh;
        right: 0;
        z-index: 99;
    }
    .nav-menu ul li{
        cursor: pointer;
        padding: 2.5rem;
        display: flex;
        justify-content: center;
        width: 70%;
        margin: 16px auto;
        padding: 6px;
        border-radius: 10px;
        height: 30px;
        background: linear-gradient(90deg, rgb(41, 58, 65) 0%, rgb(25, 56, 100) 27%, rgb(16, 18, 24) 48%, rgb(47, 83, 124) 90%);
        border: 1px solid #9c5a00;
        box-shadow: rgba(224, 221, 221, 0.181) 0px 54px 55px, rgba(227, 226, 226, 0.12) 0px -12px 30px, rgba(211, 210, 210, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .nav-menu ul li:last-child{
        background: linear-gradient(90deg, rgb(37, 51, 57) 0%, rgb(25, 56, 99) 27%, rgb(26, 30, 41) 48%, rgb(33, 58, 87) 90%);
        box-shadow: rgba(63, 187, 240, 0.17) 0px -23px 25px 0px inset, rgba(57, 130, 239, 0.15) 0px -36px 30px 0px inset, rgba(231, 228, 228, 0.1) 0px -79px 40px 0px inset, rgba(115, 172, 238, 0.06) 0px 2px 1px, rgba(240, 238, 238, 0.09) 0px 4px 2px, rgba(126, 179, 249, 0.09) 0px 8px 4px, rgba(87, 170, 226, 0.09) 0px 16px 8px, rgba(35, 44, 50, 0.09) 0px 32px 16px; 
        width: 70%;
        margin: 20px auto;
        padding: 9px;
        border-radius: 10px;
        height: 30px;
    }
   
    .pathRoute{
        width: 100%;
        text-align: center;
        font-size: 23px;
        
    }
    .showUl{
        left: 0;
        transition: all .3s ease;
    }

    .hideUl{
        left:-100%;
        transition: all .3s ease;
    }
    .title-nosotros{
        font-size: 35px;
        margin-top: 2.5em;
    } 
    .button-movil-nav{
        width: 90%;
        display: flex;
        justify-content: flex-start;
        margin: auto;
        padding-top: 8px;
    }
}

@media (min-width:768px) and (max-width: 980px){
     .title-desktop{
        font-size: 22px;
     }
     .description-banner-desktop{
        font-size: 25px;
        left:8%;
        top: 20%;
        width: 200px;
     }
     .winner-with-me{
        flex-direction: row;
        width: 100%;
     }

     .card-last-winner{
        width: 75%;
        margin: 1.5em auto;
        flex-direction: row;
    }

    .text-mision-vision{
        width: 80%;
    }
    .container-winner .type-winner {
        width: 30%;
        top: 1.1em;
        font-size: 20px;
    }
}
@media (min-width:575px) and (max-width: 768px){
    .title-desktop{
        display: block;
        font-size: 27px;
        position: absolute;
        left: 18%;
     }
}
@media (min-width:480px) and (max-width: 574px){
    .title-desktop{
        display: block;
        font-size: 22px;
        position: absolute;
        left: 22%;
     }
}
@media (min-width:480px) and (max-width: 768px){
    .title-winner-whitme{
        margin-top: -1.5em;
    }
    .title-movil{
        display: none;
    }
    .description-banner-desktop{
        font-size: 19px;
        width: 150px;
        left: 10%;
        top: 15%;
    }
     .nav-menu ul li{
       width: 50%;
      
    }
    .nav-menu ul li:last-child{
       width: 50%;
    }

    .card{
        width: 80%;
    }

    .card-last-winner{
        width: 90%;
        margin: 1.5em auto;
        flex-direction: column;
    }
    .number-winner h3{
        font-size: 23px;
        margin-top: 60px;
     }
    .data-winner{
        margin: 30px auto;
        width: 70%;
    }
    .text-mision-vision{
        font-size: 20px;
    }

    .container-winner .type-winner {
        width: 40%;
        top: 1.1em;
        font-size: 20px;
    }
}

@media (min-width:481px) and (max-width:650px){
    .content-primeraImagen{
        height: 80vw;
    }
    .text-primeraImagen{
        display: none;
    }
    .banner-container{
        width: 98%;
        height: 79%;
        left: 1%;
        top: 14%;
    }
}
@media (max-width:480px){
    .content-primeraImagen{
        height: 85vw;
    }
    .text-primeraImagen{
        display: none;
    }
    .banner-container{
        width: 100%;
        height: 78%;
        left: .1%;
        top: 16%;
    }
    .banner-movil img {
        height: 320px;
    }

    .description-banner-desktop{
        font-size: 17px;
        width: 80%;
        left: 10%;
        top: 37%;
    }
    .card{
        width: 80%;
    }
    
    .card .back{
        width: 90%;
    }

    .card-last-winner{
        width: 90%;
        margin: 1.5em auto;
        flex-direction: column;
    }
    .number-winner h3{
        font-size: 23px;
        margin-top: 60px;
    }
    .title-last-winner{
       font-size: 32px;
    }
    .data-winner{
        margin: 30px auto;
        width: 93%;
        font-size: 14px;
    }

    .titles-winner p, .values-winner p{
      font-size: 18px;
    }
    .values-winner{
        padding-bottom: 10px;
    }
    .text-mision-vision{
        font-size: 17px;
    }

    .container-winner .type-winner {
        width: 60%;
        top: 1.1em;
        font-size: 20px;
    }

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .footer-left h3{
        font-size: 20px;
    }
}

@media (min-width:980px) and (max-width: 1200px){
    .content-primeraImagen{
        height: 50vw;
    }
    .banner-container{
        top: 17%;
    }
    .text-primeraImagen{
        top: 30%;
    }
    .description-banner-desktop{
        font-size: 28px;
        width: 250px;
    }
    .card-last-winner{
        width: 60%;
        margin: 1.5em auto;
        flex-direction: row;
    }
}

.titleSelector{
    text-align: center;
    color: #fff;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}


/* Estilos para el formulario de compra*/

.form-container-buy{
    width: 100%;
    height: auto;
    margin: 5em auto;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.form-container-buy h1{
  color:#fff;
}

.inputAndLabel label {
    color: #fff;
    letter-spacing: 1px;
}


.inputAndLabel{
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.button-data-buy{
    margin-top: 2em;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #41b27f;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
}

.alert-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-input input {
    height: 30px;
    width: 75%;
    border: none;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #063194;
    font-size: 17px;
    text-align: center;
    background-color: rgba(255, 255, 251, 0.863);
}

.alert-input p {
    font-weight: 600;
    color: #f6828cdf;
    background-color: #0000000d;
    width: 70%;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
  
}

.subtitle-buy-form{
    margin-bottom: 1.5em;
    color: #ffffff;
    background-color:#0000000b;
    padding-left: 5px;
    padding-right: 5px;
}


@media (min-width:460px) {
    .alert-input{
        width: 380px;
    }
}

@media (min-width:780px) and (max-width: 979px){
    .content-primeraImagen{
        height: 52vw;
    }
    .banner-container{
        height: 75%;
        top: 20%;
    }
    .text-primeraImagen{
        top: 25%;
    }
    .text-primeraImagen p{
        font-size: 14px;
    }
}

@media (min-width:651px) and (max-width:779px){
    .content-primeraImagen{
        height: 65vw;
    }
    .text-primeraImagen{
       display: none;
    }
    .banner-container{
        width: 95%;
        height: 79%;
        left: 2.5%;
        top: 18%;
    }
}
@media (min-width:780px) {  
    .inputAndLabel {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .inputAndLabel label {
        margin-bottom: 2.2em;
    }

}